@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-image: url("https://media.istockphoto.com/id/177794699/photo/grey-wolf-portrait.jpg?s=612x612&w=0&k=20&c=vEUo0UKAKeCIIm35zU0zR7XDOf-4AKXvJWLZGx4BVws=");
  font-family: 'Lobster', cursive;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-repeat: no-repeat;
  background-size: 1500px;
}

.btn {
  background-color: yellow;
  border-radius: 5px;
  border: none;
  color: #fff;
  margin: 1rem;
  padding: 1.5rem 3rem;
  font-size: 1.2rem;
  font-family: inherit;
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  opacity: 0.9;
  background-color: green;
  color:red;
}

.btn:focus {
  outline: none;
}

h1{
  color: white;
  
}

.animal{
  text-align: center;
}


